body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
}

.cabecera{
    background-color: #33a;
    box-shadow: opx 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

